{% if description %}{{ description }}
{% endif %}{% if instruction %}{{ instruction }}
{% endif %}{% if examples %}{% for item in examples %}
Question: {{ item.question }}
Choices:{% for choice in item.choices %}
{{ loop.index0 | to_letter }}. {{ choice }}{% endfor %}{% for key, value in item.items() %}{% if key not in ['question', 'choices', 'answer'] %}
{{ key|capitalize }}: {{ value }}{% endif %}{% endfor %}
Answer: {{ item.answer }}
{% endfor %}{% endif %}
Question: {{ question }}
Choices:{% for choice in choices %}
{{ loop.index }}. {{ choice }}{% endfor %}
Explanation: 
Answer: {{ answer }}